<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <p-card header="Register" [style]="{ width: '360px'}">
    <div class="field">
      <label>Username</label>
      <input
        type="text"
        pInputText
        formControlName="username"
        class="w-full"
        name="username"
        placeholder="Type your username">
      <small
        *ngIf="username.invalid && (username.dirty || username.touched)"
        class="block p-error"
      >
        <div *ngIf="username.errors?.['required']">Username is required.</div>
        <div *ngIf="username.errors?.['minlength']">Username must be at least 6 characters long.</div>
      </small>
    </div>
    <div class="field">
      <label>Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email is not valid.</div>
      </small>
    </div>
    <div class="field">
      <label>FullName</label>
      <input
        type="text"
        pInputText
        formControlName="fullName"
        class="w-full"
        name="fullName"
        placeholder="Type your name"
      />
      <small
        *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
        class="block p-error"
      >
        <div *ngIf="fullName.errors?.['required']">Name is required.</div>
        <div *ngIf="fullName.errors?.['pattern']">Enter a valid Name</div>
      </small>
    </div>
    <div class="field">
      <label>Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password">
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be at least 6 characters long.
        </div>
      </small>
    </div>
    <div class="field">
      <label>Confirm Password</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm password is required.
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['confirmPasswordMismatch'] && confirmPassword.valid && password.valid"
      >
        Confirm password not match.
      </small>
    </div>
    <p-button
      label="Register"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    />
    <div class="mt-2">
      Already a user ? <a routerLink="/login">Login</a>
    </div>

  </p-card>
</form>
